{% extends 'layout.html' %}
{% load static %} 
{% block css %}
    <style>
        h1{
            font-size: 70px;
            font-weight: 700;
            font-family: 'Rajdhani';
        }
        body{
            background-color: #000000df;
            background-size:cover;
            background-blend-mode: overlay;
        }
        #fn-img{
            width: 90%;
            margin: 5%;
        }
        .row {
            display: flex;
            margin-top: 5%;
        }
        .column {
            flex: 50%;
            padding: 10px;
        }
        h3{
            color: gray;
            font-style: italic;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="column">
            <h1 style="font-size: 40px !important; margin-top: 2%; font-weight: 200;"> About </h1>
            <h1> Scopolamine </h1>
            <p>The idea is to tackle the issues of fake news and false information, 
                through our platform to help the community. We aim to provide a portal 
                that allows users to check/predict whether a particular news is true of 
                false. Additionally, our fake news detection platform will also provide users 
                with real/true news regarding the topics of news they searched. It is important 
                to spread awareness about the fake news, hence we also aim at providing 
                insights and analysis on fake news. The platform aspires to aware people 
                and help them by providing these services on our portal.</p>
        </div>    
        <div class="column">
            <img id="fn-img" src="{% static 'fakenews/img/fakenews-abt.jpg' %}"/>
        </div>
    </div>
    <h1 style="font-size: 30px !important; margin-top: 2%; font-weight: 200; font-style: italic;">Contributors:</h1>
    <div class="row" style="margin:0px;">
        <div class="column" style="padding-left: 20%;">
            <h3>Shrey Limbani</h3>
        </div>
        <div class="column" style="padding-left: 15%;">
            <h3>Siddharth Patel</h3>
        </div>
    </div>

{% endblock %}