{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <style>
        h1{
            font-size: 40px;
            font-weight: 700;
            font-family: 'Rajdhani';
        }
        body{
            background-color: #000000b8;
            background-image: url("{% static 'fakenews/img/background.jpg' %}");
            background-size:cover;
            background-blend-mode: overlay;
        }
    </style>
{% endblock %}

{% block content %}

    <h1> Search Results : {{ search }}</h1>

{% endblock %}