{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Scopolamine | Fake News and Analysis</title>
        <!-- MDB icon >
        <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" /-->
        <link href='https://fonts.googleapis.com/css?family=Rajdhani' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
        <!-- Dark MDB theme -->
        <link rel="stylesheet" href="{% static 'fakenews/css/mdb.dark.min.css' %}" />
        <!-- Regular MDB theme -->
        <!-- <link rel="stylesheet" href="css/mdb.min.css" /> -->
        <style>
            .navbar-brand{
              font-size: 30px;
              font-weight: 700;
              font-family: 'Rajdhani';
            }
            .navbar-input{
              width: 50vw;
              border-radius: 20px;
            }
            .navbar-input:focus{
              outline: none;
            }
        </style>
    </head>
    {% block css %}
    {% endblock %}
    <body>
        <!-- Start your project here-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'index' %}">Scopolamine</a>
              <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                  <!-- Used this ul tag for aligning the next ul to right side -->
                  {% if form_action %}
                  <form action="{% url form_action %}" method="GET" class="form-inline my-2 my-lg-0 ml-12">
                    <li class="nav-item">
                      <input class="form-control navbar-input" value="{{search}}" type="search" name="search"  placeholder="Search" aria-label="Search"/>
                    </li>
                  </form>
                  {% endif %}
                </ul>
                <ul class="navbar-nav d-flex flex-row">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'searchnews' %}">Search News</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'analytics' %}">Analytics</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        <div class="container overlay center ">
            {% block content %}
            {% endblock %}
        </div>
    </body>

    <script>
      function search(){
          document.querySelector('form').submit();
      }
    </script>
    {% block js %}
    {% endblock %}
</html>